


@media (min-width :370px){

    /* variable */
:root{
    --fs-1: 50px;
    --fs-2: 45px;
    --fs-7: 18px;

    --px:30px;

}

.section-subtitle{
    font-size: var(--fs-7);
}

      /* home */

}


@media(min-width:992px){
   /* variable */
   :root{
    --fs-5: 16px;
    

    --px:30px;

}

    /* header */
    .navbar{
        padding: 20px var(--px);
    }
    .navbar-nav{
        background: transparent;
        position: static;
        box-shadow: none;
        padding: 0;
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
        display: flex;
        align-items: center;
    }
}



















