/* variable */

@import url(../css/variables.css);

/* ## Reset */

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    font: inherit;

}

img,
span,
a,
ion-icon {
    display: block;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

}


html {
    font-family: var(--fontfamily);
    ;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: var(--light-gray);

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--red-orange-color-wheel);

}

::-webkit-scrollbar-thumb:hover {
    background: var(--ultramarine-blue);
}


/*  # Component  */

.btn {
    position: relative;
    font-family: var(--font-family);
    font-size: var(--fs-6);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 10px 40px;
    text-align: uppercase;
    overflow: hidden;

}

.btn-secondary {
    background-color: var(--btn-backgrond-color);
    color: var(--font-btn-color);
    border-radius: 20px;
    padding: 4px 30px 4px 30px;
}

.btn .btn-text {
    position: relative;
    z-index: 5;
    font-size: var(--fs-6);
    font-family: var(--font-family);
}

.btn-secondary.active .square,
.btn-secondary .square,.btn-primary {
    background-color: var(--red-orange-color-wheel);
    border-radius: 20px;
}

.btn .square {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: var(--default-transition);

}

.btn:hover .square {
    left: -1px;
    width: 102%;
    height: 102%;
    transform: scale(22);
    transition: all;

}

.btn-primary .square {
    background: var(--oxford-blue);
}

.btn-secondary.active {
    background: var(--oxford-blue);
    border-radius: 20px;
    color: white;
    padding: 10px 40px;
}



/* # Reused Style  */

.section-subtitle {
    color: var(--blue-crayola);
    font-weight: var(--fw-3);
    font-style: italic;



}

.section-text {
    color: var(--sonic-silver);
    font-family: var(--font-family);
    font-size: var(--fs-6);
    line-height: 1.6;
}



/*     # Main       */


.container {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}


/*     # HEADER       */



.navbar {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: top 0.2s ease-in-out;
    /* backdrop-filter: blur(15px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--px);
    /* box-shadow: 0 10px 20px -5px hsla(0, 0%, 0%, 0.03); */
    z-index: 100;
    border-radius: 2rem;



}

.navbar img {
    padding: 0;
    margin-left: 10px;
    width: 150px;
}

.navbar-nav {

    position: fixed;
    background: var(--white);
    top: 80px;
    left: 100;
    right: 0;
    text-align: right;
    box-shadow: 0 10px 20px -5px hsla(0, 0%, 0%, 0.25);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.0);
    pointer-events: none;
    width: 200px;


}

.nav-item a {

    padding: 10px;
    font-size: var(--fs-7);
    font-weight: var(--fw-6);
    color: black;
    transition: var(--default-transition);

}
.nav-item.active a {

    padding: 10px;
    font-size: var(--fs-7);
    font-weight: var(--fw-6);
    color: var(--white);
    transition: var(--default-transition);

}

.nav-item:not(:last-child) a {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.nav-item a:hover {
    color: var(--white) !important;
    border-radius: 20px;
    transform: translateX(-10%);
    background: var(--red-orange-color-wheel);
    background-position: 20px;


}

.navbar-nav.active {
    animation: menuPopup 0.15s linear forwards;
    pointer-events: all;
    transition: all;

}

@keyframes menuPopup {
    0% {
        opacity: 0;
        transform: translateX(-20px);

    }

    50% {
        transform: translateX(-20px);

    }

    100% {
        opacity: 1;
        transform: translateX(-20px);
    }
}

.navbar .btn {
    display: none;
}

.nav-toggle-btn {
    background: var(--red-orange-color-wheel);
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.nav-toggle-btn span {
    background: var(--white);
    width: 30px;
    height: 2px;
    transition: var(--default-transition);
}

.nav-toggle-btn.active .one {
    transform: rotate(45deg) translate(3px, 3px);
}

.nav-toggle-btn.active .two {
    display: none;
}

.nav-toggle-btn.active .three {
    transform: rotate(-45deg) translate(2px, -2px);
}

/*          #HOME           */
.home {
    position: relative;
    margin-top: 70px;
    padding: var(--py) var(--px) 0;
    overflow: hidden;

}

.home ::before {
    content: '';
    position: absolute;
    top: -200px;
    left: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    /* background: radial-gradient(ellipse at center, hsla(217, 100%, 52%, 0.03), transparent 70%); */

}

.home ::after {
    content: '';
    position: absolute;
    top: 100px;
    right: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    /* background: radial-gradient(ellipse at center, hsla(15, 100%, 55%, 0.03), transparent 70%); */

}


.home .deco-shape {
    position: absolute;

}

.home .shape-1 {
    top: 20px;
    left: 8%;
}

.home .shape-2 {
    top: 380px;
    left: 30px;
}

.home .shape-3 {
    top: 25%;
    right: 0;
    ;
}

.home .shape-4 {
    top: 570px;
    right: 10px;
}

.home .icon-4 {
    top: 80px;
    right: 30px;
}

.home-left {
    margin-bottom: 60px;
}

.home-left,
.home-right {
    position: relative;
    z-index: 10;
}

.home .section-subtitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: var(--fs-2);

}

.main-heading {
    color: var(--oxford-blue);
    font-size: var(--fs-1);
    font-weight: var(--fw-9);
    line-height: 1.2;
    margin-bottom: 40px;

}

.underline-img {
    display: inline-block;
    position: relative;
}

.underline-img img {

    bottom: -5px;
    left: 0;
    width: 100%;
}

.home .section-text {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.home-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.home-right .img-box {
    position: relative;
}

.home-right .img-box img {
    position: absolute;
}

.home-right .img-box .banner-img {
    position: relative;
    width: auto;
    max-width: 100%;
    margin: auto;
    z-index: 2;
}

.home-right .background-shap {
    width: auto;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.home-right .icon-1 {
    top: 200px;
    left: 20px;

}

.home-right .icon-2,
.home-right .icon-3 {
    display: none;
}

.home-right .icon-4 {
    top: 60px;
    right: 20px;
    filter: drop-shadow(0 8px 38px hsla(350, 100%, 68%, 0.5));
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    filter: drop-shadow(0 10px 20px hsla(0, 0%, 0%, 0.2));
    z-index: 5;
}






























/* Drop-Down Navigation */
ul#navigation li:hover>ul {
    /*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility: visible;

    opacity: 1;

}

ul#navigation ul,
ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    left: 30px;
    right: 30px;
    /*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility: hidden;
    opacity: 0;
    position: absolute;

    padding: 30px;
    border-radius: 8px;
    z-index: 99999;
    width: max-content;
    margin: auto;

    background: var(--white);
    box-shadow: 1px 1px 3px rgb(227, 17, 17);
    border-radius: 20px;
    /* css3 transitions for smooth hover effect */
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}


ul#navigation ul li ul {
    width: max-content;
    top: 50%;
    left: 65%;
    right: inherit;
    /* top: 100px;
    left:200px; strong related to width:180px; from above */

}

ul#navigation ul li {
    clear: both;
    width: 100%;


    border: 0 none;
    border-bottom: 1px solid #c9c9c9;

}

ul#navigation ul li a {
    background: none;
    padding: 10px;
    font-size: var(--fs-6);
    font-weight: var(--fw-6);
    color: var(--oxford-blue);
    transition: var(--default-transition);
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    display: inline-block;
    border: 0 none;
    width: auto;
    clear: both;

}